<p><a href="/rock">Play Rock</a></p>
<p><a href="/paper">Play Paper</a></p>
<p><a href="/scissors">Play Scissors</a></p>

<h1>We played <strong><%= @user_choice %></strong>!</h1>
<h2>They played <strong><%= @computer_choice %></strong>!</h2>
<h3>We <strong><%= @outcome %></strong>!</h3> 

<p><a href="/rules">Rules</a></p>
